<!DOCTYPE html>
<html>
<head>
  <title>Socket.IO Chat</title>
  <style>
    body { font-family: Arial; }
    #messages { list-style: none; padding: 0; }
    #messages li { padding: 5px; background: #eee; margin-bottom: 2px; }
  </style>
</head>
<body>
    <input type="text" id="name" />
    <button onclick="register()">send</button>
  <ul id="messages"></ul>
  <form id="form">
    <input id="input1" autocomplete="off" />
    <input id="input" autocomplete="off" />
    <button type="submit">Send</button>
  </form>


  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    const form = document.getElementById('form');
    const input = document.getElementById('input');
    const input1 = document.getElementById('input1');
    const messages = document.getElementById('messages');
    const name=document.getElementById('name');
    form.addEventListener('submit', (e) => {
      e.preventDefault();
      if (input.value && input1.value) {
        // console.log(input1.value)
        socket.emit('chat message',name.value,input1.value, input.value);
        input.value = '';
        input1.value='';
      }
    });
    function register(){
        const name=document.getElementById('name').value;
        socket.emit('register',name);
        // document.getElementById('name').value=''
    }
    socket.on('chat message', (name,msg) => {
      const item = document.createElement('li');
      item.textContent = `from : ${name} -> ${msg}`
      messages.appendChild(item);
    });
  </script>
</body>
</html>
